<html>
  <head>
    <title>Quiz</title>
  </head>

  <body>
  <h1>Quiz</h1>

  {% if question_list %}
    <ul>
    {% for question in question_list %}
        <li><a href="/quiz/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No question asked. Create one?</p>

{% endif %}
  <h2> Create new question</h2>
<form method="POST">
  <input name="item_text" id="id_new_item" placeholder="Enter a new question" />
  {% csrf_token %}
</form>
</body>
</html>
